# ignore the CMake outputs
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# ignore glad generated lib
glad/libglad.a

# ignore the binaries
first_glfw
mainshader
scrap
transition_text
triangles
twod
wave

# ignore build directory
.settings/
build/
BrainHarmonics/.settings/
BrainHarmonics/build/
BrainHarmonics/__pycache__/
__pycache__/
DerivedData/

