<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.13">
  <compounddef id="classmapper" kind="class" language="C++" prot="public">
    <compoundname>mapper</compoundname>
    <basecompoundref prot="public" virt="non-virtual">ArAction</basecompoundref>
    <includes refid="mapper_8h" local="no">mapper.h</includes>
      <sectiondef kind="public-attrib">
      <memberdef kind="variable" id="classmapper_1ad12cf719b7ef6c4399ca718cdc9f270d" prot="public" static="no" mutable="no">
        <type>ArActionDesired</type>
        <definition>ArActionDesired mapper::desiredState</definition>
        <argsstring></argsstring>
        <name>desiredState</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="BrainHarmonics/mapper.h" line="12" column="1" bodyfile="BrainHarmonics/mapper.h" bodystart="12" bodyend="-1"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="protected-attrib">
      <memberdef kind="variable" id="classmapper_1a2764f9fead6392132485f3545c18b629" prot="protected" static="no" mutable="no">
        <type>int</type>
        <definition>int mapper::speed</definition>
        <argsstring></argsstring>
        <name>speed</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="BrainHarmonics/mapper.h" line="14" column="1" bodyfile="BrainHarmonics/mapper.h" bodystart="14" bodyend="-1"/>
        <referencedby refid="classmapper_1a63253379db55193ffc58434c32657270" compoundref="mapper_8cpp" startline="5" endline="8">mapper</referencedby>
      </memberdef>
      </sectiondef>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="classmapper_1a63253379db55193ffc58434c32657270" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type></type>
        <definition>mapper::mapper</definition>
        <argsstring>()</argsstring>
        <name>mapper</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="BrainHarmonics/mapper.h" line="9" column="1" bodyfile="BrainHarmonics/mapper.cpp" bodystart="5" bodyend="8"/>
        <references refid="classmapper_1a2764f9fead6392132485f3545c18b629" compoundref="mapper_8h" startline="14">speed</references>
      </memberdef>
      <memberdef kind="function" id="classmapper_1aab426a3eb8681cf2c1137f658a6802a4" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type></type>
        <definition>virtual mapper::~mapper</definition>
        <argsstring>()</argsstring>
        <name>~mapper</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="BrainHarmonics/mapper.h" line="10" column="1" bodyfile="BrainHarmonics/mapper.h" bodystart="10" bodyend="10"/>
        <references refid="classmapper_1a9d8bd0abf6844385c45d8b3ccd7b8e87">fire</references>
      </memberdef>
      <memberdef kind="function" id="classmapper_1a9d8bd0abf6844385c45d8b3ccd7b8e87" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>ArActionDesired *</type>
        <definition>virtual ArActionDesired* mapper::fire</definition>
        <argsstring>(ArActionDesired d)</argsstring>
        <name>fire</name>
        <param>
          <type>ArActionDesired</type>
          <declname>d</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="BrainHarmonics/mapper.h" line="11" column="1"/>
        <referencedby refid="classmapper_1aab426a3eb8681cf2c1137f658a6802a4" compoundref="mapper_8h" startline="10" endline="10">~mapper</referencedby>
      </memberdef>
      </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="195">
        <label>ArAction</label>
      </node>
      <node id="194">
        <label>mapper</label>
        <link refid="classmapper"/>
        <childnode refid="195" relation="public-inheritance">
        </childnode>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="197">
        <label>ArAction</label>
      </node>
      <node id="196">
        <label>mapper</label>
        <link refid="classmapper"/>
        <childnode refid="197" relation="public-inheritance">
        </childnode>
      </node>
    </collaborationgraph>
    <location file="BrainHarmonics/mapper.h" line="7" column="1" bodyfile="BrainHarmonics/mapper.h" bodystart="6" bodyend="15"/>
    <listofallmembers>
      <member refid="classmapper_1ad12cf719b7ef6c4399ca718cdc9f270d" prot="public" virt="non-virtual"><scope>mapper</scope><name>desiredState</name></member>
      <member refid="classmapper_1a9d8bd0abf6844385c45d8b3ccd7b8e87" prot="public" virt="virtual"><scope>mapper</scope><name>fire</name></member>
      <member refid="classmapper_1a63253379db55193ffc58434c32657270" prot="public" virt="non-virtual"><scope>mapper</scope><name>mapper</name></member>
      <member refid="classmapper_1a2764f9fead6392132485f3545c18b629" prot="protected" virt="non-virtual"><scope>mapper</scope><name>speed</name></member>
      <member refid="classmapper_1aab426a3eb8681cf2c1137f658a6802a4" prot="public" virt="virtual"><scope>mapper</scope><name>~mapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
